Exam if January Effect exist in S&P500 stocks 
Data source:
https://www.kaggle.com/camnugent/sandp500/downloads/sandp500.zip/4

In [4]:
import pandas as pd
import sklearn as sk

In [5]:
fname = 'all_stocks_5yr.csv'

In [15]:
data = pd.read_csv(fname, parse_dates=['date'], infer_datetime_format=True)

In [16]:
data.head()

        date   open   high    low  close    volume Name
0 2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL
1 2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL
2 2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL
3 2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL
4 2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL

In [12]:
comps = data['Name'].drop_duplicates()
comp_num = comps.shape[0]
print(f"Total number of companies {comp_num}")

Total number of companies 505

In [27]:
dates = data['date'].map(lambda x: x.strftime('%Y') + '-' + x.strftime('%m')).drop_duplicates().values
print(f"start date = {dates.min()} \n"
      f"end date = {dates.max()}")

start date = 2013-02
end date = 2018-02

Exam the average price in January avg_jan, compared to Average Price in December avg_dec

In [79]:
result = {}
yrs = range(2014, 2018)
for c in comps:
    df = data[data['Name'] == c]
    for y in yrs:
        jan = df[ (df['date'] >= "{}-01-01".format(y)) & (df['date'] < "{}-02-01".format(y))]
        avg_jan = jan[['open', 'close']].mean()
        
        dec = df[ (df['date'] >= "{}-12-01".format(y-1)) & (df['date'] < "{}-01-01".format(y))]
        avg_dec = dec[['open', 'close']].mean()
        
        comp =  (avg_jan > avg_dec)
        score = comp.sum()
        result[c] = score

In [80]:
val = result.values()
pos = [x for x in val if x > 0]
percent = len(pos)/len(val)*100
percent

65.94059405940594

Looks like it is only true in 66% of the time

What if we narrow down the criteria and exam the first opening of the year compared to last close?

In [77]:
result = {}
yrs = range(2014, 2018)
for c in comps:
    df = data[data['Name'] == c]
    for y in yrs:
        jan = df[ (df['date'] >= "{}-01-01".format(y)) & (df['date'] < "{}-02-01".format(y))].head(1)
        jan_open = jan['open']
        
        dec = df[ (df['date'] >= "{}-12-01".format(y-1)) & (df['date'] < "{}-01-01".format(y))].head(1)
        dec_close = dec['close']
        
        comp =  jan_open.values > dec_close.values
        score = comp.sum()
        result[c] = score

In [78]:
val = result.values()
pos = [x for x in val if x > 0]
percent = len(pos)/len(val)*100
percent

70.6930693069307